body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nbu-blue-bg {
  background-color: #052440 !important;
}

.nbu-red-bg{
    background-color: #9b1316 !important;
}

.nbu-gold-bg {
  background-color: #9b8253 !important;
}

.nbu-gold-bg:hover{
  background-color: #7a6641 !important;

}

.nbu-white {
  color: white !important;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(5, 36, 64) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/
